<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <!--login start-->
    <a class="header_top" href="{{ url_for('index') }}">欢迎来到选你所要！</a>

    <div class="navbar-collapse collapse" id="navbarsExample09" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">请登陆 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">欢迎注册</a>
            </li>
            <li class="myacount-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">我的宝贝</a>
                <div class="dropdown-menu" aria-labelledby="dropdown09">
                    <a class="dropdown-item" href="#">我的订单</a>
                    <a class="dropdown-item" href="#">我的购物车</a>
                    <a class="dropdown-item" href="#">我的红包</a>
                </div>
            </li>
            <li class="app-download">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">手机App</a>
            </li>
            <li class="more-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">更多</a>
                <div class="dropdown-menu" aria-labelledby="dropdown09">
                    <a class="dropdown-item" href="#">新浪微博</a>
                    <a class="dropdown-item" href="#">微信公众号</a>
                    <a class="dropdown-item" href="#">加入收藏</a>
                </div>
            </li>
        </ul>

    </div>
</nav>